# Compiled Object files
*.slo
*.lo
*.o
*.d
.nfs*

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executables
*.exe

# Generated source files
bin/*

# emacs backups
*~
*#
.#*

# Other
*.root
*.log
*.pdf
*.eps
*.png
*.txt
*.tex
*__.py
*.pyc